* {
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    /* border: solid red */
}

body {
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
    background-color: white;
}

.mostrar {
    display: flex;
    flex-wrap: wrap;
}

.left-content {
    flex: 1;
}

.left-content img{
    width: auto;
    max-width: 100%;
    padding-left: 25px;
    padding-right: 0px;
    padding-block-start: 0px;
    vertical-align: center
}

.right-content {
    flex: 1;
    text-align: left;
    justify-content: left;
    align-items: 'left';
    padding-left: 0px;
    padding-right: 50px;
    font-size: 24px
}

@media (max-width: 768px) {
    .left-content img{
        max-width: 480px;
    }

    .right-content {
        padding-left: 25px;
        padding-right: 25px;
        font-size: 16px;
    }
}
